/* reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
html{
    font-size: 62.5%;
    background: #000 url(../asset/globe.png)no-repeat fixed center center / cover;
    
}
body{
    font: 1.6rem 'Montserrat', sans-serif; /* serif */
    margin: 0;
}
/* contexte css de balises html */
p, figure, h1, h2, h3, h4, ul, ol{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222;
}
button{
    border: 0;
    background: none;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .8rem;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 254, 251);
    outline: .1rem solid rgb(22, 22, 22);
}

/* theme */
:root{
    --color-default: #000;
    --color-primary: rgb(68, 68, 202);
    --color-warning: rgb(168, 38, 38);
    --color-success: rgb(12, 117, 12);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    
}
header h1{
    line-height: 6rem;
    text-align: center;
    margin-bottom: 6rem;
    background-color: var(--color-default);
    color: #fafafa;
    font-weight: 200;
    box-shadow: 0 0 5rem #fafafa;
}
header h1 img{
    filter:invert(100%);
}
main{
    margin-top: 8rem;
}
figure{
    
    max-width: 60rem;
    margin: 0 auto 2rem;
    border: .1rem #ccc solid;
    padding: 1rem;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    
}
figure a{
    display: block;
}
figure img{
    display: block;
    max-width: 100%;
}
figure figcaption h2{
    text-align: center;
    line-height: 6.5rem;
    font-weight: 200;
}
figure figcaption h2::before{
    content: url(../asset/award.svg);
}
figure:last-child h2::before{
    content: "\2764";
    margin-right: .5rem;
    color: var(--color-warning);
}
figcaption p{
    line-height: 2.5rem;
    text-align: justify;
}
figcaption img, figcaption button{
    display: inline-block;
    vertical-align: -.4rem;
    cursor: pointer;
}
footer *{
    text-align: center;
    font-size: small;
}

/* media queris */
@media screen and (max-width: 60rem){
    header h1{
        margin-bottom: .1rem;
        font-size: large;
    }
    main{
        margin-top: 6rem;
    }
    figcaption h2{
        font-size: large; 
    }
    figure{
        position: sticky;
        top: 0;
        margin-bottom: .1rem;
        border-bottom: 0;
        box-shadow: none;
        background-color: rgba(255,255,255,1);
        z-index: 1;
        
    }
    footer{
        min-height: 50vh;
    }
}